<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header(${title})}">
    <title>Default Title</title>
    <style href="/static/css/style.css" rel="stylesheet"></style>
    <style href="/static/css/fontawesome.css" rel="stylesheet"></style>
</head>
<body>
<div>
    <div class="pc-mob-header pc-header">
        <div class="pcm-logo">
            <!--<img src="/static/images/logo.svg" alt="" class="logo logo-lg">-->
            <img src="/static/images/logo.png" alt="" class="logo logo-lg">
        </div>
        <div class="pcm-toolbar">
            <a href="#!" class="pc-head-link" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <nav class="pc-sidebar ">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
    </nav>

    <header class="pc-header ">

    </header>

    <div class="pc-container">
        <div class="pcoded-content" layout:fragment="content"></div>
    </div>
</div>
</body>
</html>