<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header(${title})}">
    <title>Default Title</title>
</head>
<body>
    <!-- Sidebar Navigation -->
    <nav th:replace="~{fragments/navigation :: sidebar}"></nav>
    
    <!-- Main Container -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <!-- Top Header -->
            <header th:replace="~{fragments/navigation :: header}"></header>
            
            <!-- Main Content -->
            <div class="pcoded-content">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <div class="page-header-title">
                                    <h5 class="m-b-10" th:text="${title}">Page Title</h5>
                                </div>
                                <ul class="breadcrumb" th:if="${breadcrumbs != null}">
                                    <li class="breadcrumb-item">
                                        <a href="/"><i class="fas fa-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item" th:each="breadcrumb, iterStat : ${breadcrumbs}" 
                                        th:classappend="${iterStat.last} ? 'active' : ''">
                                        <a th:if="${!iterStat.last}" th:href="${breadcrumb.url}" th:text="${breadcrumb.label}">Breadcrumb</a>
                                        <span th:if="${iterStat.last}" th:text="${breadcrumb.label}">Breadcrumb</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 text-end">
                                <!-- Optional page actions can go here -->
                                <div th:if="${pageActions != null}" class="page-actions">
                                    <a th:each="action : ${pageActions}" th:href="${action.url}" 
                                       class="btn btn-primary" th:text="${action.label}">Action</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Page Content -->
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="page-body">
                                <!-- Content Section - Will be replaced by page content -->
                                <div layout:fragment="content">
                                    <p>Page content goes here</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </div>
    </div>
    
    <!-- Scripts -->
    <div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>