<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header(${title})}">
    <title>Default Title</title>
    <style href="/static/css/style.css" rel="stylesheet"></style>
    <style href="/static/css/fontawesome.css" rel="stylesheet"></style>
</head>
<body>
<div>
    <div class="pc-mob-header pc-header">
        <div class="pcm-logo">
            <!--<img src="/static/images/logo.svg" alt="" class="logo logo-lg">-->
            <img src="/static/images/logo.png" alt="" class="logo logo-lg">
        </div>
        <div class="pcm-toolbar">
            <a href="#!" class="pc-head-link" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <a href="#!" class="pc-head-link" id="headerdrp-collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-right"><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></svg>
            </a>
            <a href="#!" class="pc-head-link" id="header-collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
            </a>
        </div>
    </div>

    <nav class="pc-sidebar ">
        <div th:replace="~{fragments/navigation :: navigation}"></div>
    </nav>

    <header class="pc-header ">

    </header>

    <div class="pc-container">
        <div class="pcoded-content" layout:fragment="content"></div>
    </div>
</div>
</body>
</html>