<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <title>sparta</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Kafka Topics</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/kafka/topics">Kafka Topics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Kafka Topic</h5>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <select id="brokerSelect"
                                        class="form-select"
                                        aria-label="broker selection">
                                    <option th:each="kafkaBroker : ${kafkaBrokers}"
                                            th:value="${kafkaBroker.id}"
                                            th:data-host="${kafkaBroker.host}"
                                            th:data-port="${kafkaBroker.port}"
                                            th:text="${kafkaBroker.alias + '( ' + kafkaBroker.host + ' : ' + kafkaBroker.port + ' )'}"
                                            th:selected="${kafkaBroker.host == bootstrapServer.host} and ${kafkaBroker.port == bootstrapServer.port}">
                                    </option>
                                </select>
                                <button type="button" class="btn btn-outline-primary" onclick="loadTopics();">search</button>
                                <button type="button"
                                        onclick="moveToRegisterTopic();"
                                        class="btn btn-outline-primary">
                                    Register topic</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="input-group">
                        <span class="input-group-text">Filter</span>
                        <input type="text" class="form-control" onkeyup="filterTopics(this);" placeholder="topic name">
                    </div>
                </div>

                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width: 10%;">#</th>
                                <th>Topic</th>
                                <th style="width: 10%;">Describe</th>
                                <th style="width: 10%;">Record</th>
                                <th style="width: 10%;">Management</th>
                            </tr>
                            </thead>
                            <tbody id="topicTable">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="describeTopicModal" class="modal fade" tabindex="-1" aria-labelledby="describeModalTitle" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="describeModalTitle">Describe topic</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label" for="describeTopicName">Topic Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="describeTopicName"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="describeTopicInternal">internal</label>
                            <input type="text"
                                   class="form-control"
                                   id="describeTopicInternal"
                                   readonly>
                        </div>
                        <div class="form-group describeTopicPartitionsDiv">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearModalInputs();">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/topic.js"></script>
    </div>

</div>
</body>
</html>