<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="navigation" class="navbar-wrapper">
        <div class="m-header">
            <a href="/kafka/brokers" class="b-brand">
                <img src="/images/logo.png" alt="" class="logo logo-lg" style="width: 170px; height: auto;">
            </a>
        </div>
        <div class="navbar-content ps ps--active-y">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Kafka</label>
                    <span>Management</span>
                </li>
                <li class="pc-item" th:classappend="${module == 'brokers' || module == null} ? active">
                    <a href="/kafka/brokers" class="pc-link">
                        <span class="pc-micon">
                            <i class="fa-solid fa-microchip"></i>
                        </span>
                        <span class="pc-mtext">Broker</span>
                    </a>
                </li>
                <li class="pc-item" th:classappend="${module == 'topics'} ? active">
                    <a href="/kafka/topics" class="pc-link">
                        <span class="pc-micon">
                            <i class="fa-solid fa-list-check"></i>
                        </span>
                        <span class="pc-mtext">Topic</span>
                    </a>
                </li>
                <li class="pc-item" th:classappend="${module == 'producer'} ? active">
                    <a href="/kafka/producer" class="pc-link">
                        <span class="pc-micon">
                            <i class="fa-solid fa-paper-plane"></i>
                        </span>
                        <span class="pc-mtext">Producer</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>