<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Sidebar Navigation -->
    <div th:fragment="navigation" class="navbar-wrapper">
        <div class="m-header">
            <a href="index.html" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="/images/logo.svg" alt="" class="logo logo-lg">
                <img src="assets/images/logo-sm.svg" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content ps ps--active-y">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li>
                <li class="pc-item active">
                    <a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span></a>
                </li>
                <li class="pc-item pc-caption">
                    <label>Kafka</label>
                    <span>Management</span>
                </li>
                <li class="pc-item">
                    <a href="/kafka/brokers" class="pc-link">
                        <span class="pc-micon">
                            <i class="fa-solid fa-microchip"></i>
                        </span>
                        <span class="pc-mtext">Broker</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/kafka/topics" class="pc-link">
                        <span class="pc-micon">
                            <i class="fa-solid fa-list-check"></i>
                        </span>
                        <span class="pc-mtext">Topic</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/kafka/topics" class="pc-link">
                        <span class="pc-micon">
                            <i class="fa-solid fa-message"></i>
                        </span>
                        <span class="pc-mtext">Producer</span>
                    </a>
                </li>
            </ul>
    </div>

</body>
</html>